@model RPG.Models.Inventory
@{
    ViewData["Title"] = "Inventory - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Inventory?</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.id)

    @Html.LabelFor(model => model.helmetId)
    @Html.EditorFor(model => model.helmetId)

    @Html.LabelFor(model => model.armorId)
    @Html.EditorFor(model => model.armorId)

    @Html.LabelFor(model => model.gloveId)
    @Html.EditorFor(model => model.gloveId)

    @Html.LabelFor(model => model.bootId)
    @Html.EditorFor(model => model.bootId)

    @Html.LabelFor(model => model.accessoryId)
    @Html.EditorFor(model => model.accessoryId)

    @Html.LabelFor(model => model.rEquipId)
    @Html.EditorFor(model => model.rEquipId)

    @Html.LabelFor(model => model.lEquipId)
    @Html.EditorFor(model => model.lEquipId)


    <input type="submit" value="Save" class="btn btn-primary" />
}

@Html.ActionLink("Back to List", "Index")