@model RPG.Models.Character

@{
    ViewData["Title"] = "Character - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to Delete this character?</h2>


@Html.DisplayNameFor(model => model.name) : @Html.DisplayFor(model => model.name)
@Html.DisplayNameFor(model => model.image) : @Html.DisplayFor(model => model.image)
@Html.DisplayNameFor(model => model.inventoryId) : @Html.DisplayFor(model => model.inventoryId)




@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Back to home", "Index")</p>