@model RPG.Models.Location
@{
    ViewData["Title"] = "Location - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Location Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.name): @Html.DisplayFor(model => model.name)</p>
<p>@Html.DisplayNameFor(model => model.type): @Html.DisplayFor(model => model.type)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.id }) | @Html.ActionLink("Back to List", "Index")</p>